<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="AppKey" value="2231021786"/>
		<add key="AppSecret" value="b3b482c9fd55551273fc443c60f24855"/>
		<add key="CallbackUrl" value="http://127.0.0.1:4240/Login.aspx"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>
