<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeiboSDKWinformDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeiboSDKWinformDemo.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>1028898141</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>78be07c9bcfa30b7871788d3778ce131</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>https://api.weibo.com/oauth2/default.html</value>
            </setting>
        </WeiboSDKWinformDemo.Properties.Settings>
    </userSettings>
</configuration>