body {
	overflow: auto;
}

.clear {
	clear: both;
}

.clearfix:after, .row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix, .row {
	display: block;
	*zoom: 1;
}

* html .row {
	zoom: 1;
}
/* IE6 */
*:first-child + html .row {
	zoom: 1;
}
/* IE7 */

.row {
	position: relative;
}

#header {
	background: #F0F1F4;
	height: 39px;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	_width: 100%;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	z-index: 1000;
}

#header_wrap {
	height: 39px;
	margin: 0 auto;
	width: 860px;
	line-height: 30px;
}

#logo {
	vertical-align: baseline;
	float: left;
	margin-right: 20px;
}

	#logo a, #logo a span {
		font: 27px Segoe UI Light,Tahoma Light,Arial Light,Helvetica,sans-serif;
		font-weight: lighter;
		color: #e32529;
	}

		#logo a span {
			font: 27px 'Segoe UI Semibold','Segoe-Semibold',Segoe UI,Tahoma;
			color: #6A747E;
		}

#page-links {
	float: left;
}

	#page-links li {
		display: inline-block;
		white-space: nowrap;
		margin-right: 10px;
		*float: left;
	}

		#page-links li a {
			height: 36px;
			_height: 39px;
			font: 14px/39px 微软雅黑,Segoe UI,Tahoma;
			font-weight: bold;
			display: block;
			padding: 0 30px;
			color: #444;
			border-bottom: 3px solid #F0F1F4;
		}

			#page-links li a.selected {
				border-bottom: 3px solid #6A747E;
				background-color: #F0F1F4;
			}

			#page-links li a:hover {
				border-bottom-color: #7daf00;
				background-color: #F9FaFF;
			}

#search-box {
	height: 36px;
	_height: 39px;
	border-bottom: 3px solid #5ba7e1;
	width: 200px;
	display: block;
	float: right;
	background-color: #F9FaFF;
}

#search-box-tips {
	position: absolute;
	font: 16px 微软雅黑,宋体;
	font-style: italic;
	left: 5px;
	top: 5px;
	color: #bbb;
	cursor: text;
}

#search-box-text {
	border: 0;
	width: 160px;
	height: 36px;
	line-height: 36px;
	background-color: transparent;
	float: left;
	padding: 0 5px;
	color: #bbb;
	font: 16px 微软雅黑,宋体;
	font-size: 16px;
}

	#search-box-text .focus {
		color: #666;
	}

#search-box-button {
	height: 36px;
	width: 30px;
	display: block;
	float: right;
}

a.magnify {
	background: url('../images/sprite.png') no-repeat 0 -56px;
	display: block;
	height: 15px;
	position: relative;
	text-indent: -9999px;
	top: 12px;
	width: 15px;
	float: right;
	right: 10px;
}

a.turkey {
	position: absolute;
	background: url(../images/sprite_icons-contentfe.png) 0 -150px no-repeat;
	height: 14px;
	width: 17px;
	top: 4px;
	left: 6px;
	cursor: pointer;
	overflow: hidden;
}

#content_wrap {
	margin: 0 auto;
	margin-top: 50px;
	width: 860px;
}

#content_left_wrap {
	position: fixed;
	top: 50px;
	width: 320px;
}

	#content_left_wrap div.panel {
		background-color: #F0F1F4;
		display: block;
		margin-bottom: 10px;
	}

		#content_left_wrap div.panel h2 {
			font: 14px/28px 微软雅黑,Tahoma,宋体;
			padding: 0 10px;
			color: #666;
			border-bottom: solid 1px #dedfe2;
		}

		#content_left_wrap div.panel div.box {
			padding: 10px;
		}

			#content_left_wrap div.panel div.box ul li {
				line-height: 1.5;
			}

				#content_left_wrap div.panel div.box ul li a {
					color: #0084B4;
				}

					#content_left_wrap div.panel div.box ul li a:hover {
						text-decoration: underline;
					}

a.user-self {
	display: block;
	padding-left: 60px;
	position: relative;
	color: #999;
	font: 12px/1.5 微软雅黑,Tahoma,宋体;
	min-height: 60px;
}

	a.user-self img {
		border: 1px solid #dedfe2;
		padding: 2px;
		position: absolute;
		left: 0;
		top: 0;
	}

	a.user-self:hover img {
		border-color: #999;
	}

	a.user-self span {
		display: block;
	}

		a.user-self span.name {
			color: #0084B4;
		}

	a.user-self:hover span.name {
		text-decoration: underline;
	}

	a.user-self span.intro {
		font-weight: bold;
		color: #666;
	}

div.status-box {
	border-top: 1px solid #dedfe2;
	border-bottom: 1px solid #dedfe2;
	padding: 0 10px;
}

	div.status-box a {
		float: left;
		display: block;
		line-height: 1.5;
		padding: 5px 10px;
		color: #999;
		min-width: 60px;
		_width: 60px;
	}

		div.status-box a.middle {
			border-left: 1px solid #dedfe2;
			border-right: 1px solid #dedfe2;
		}

		div.status-box a span {
			font-weight: bold;
			color: #444;
		}

		div.status-box a:hover, div.status-box a:hover span {
			color: #0084B4;
		}

.status-box-editor {
	width: 290px;
	height: 95px;
	overflow: hidden;
	padding: 5px;
	outline: none;
	border: 1px solid #dedfe2;
	cursor: text;
}

	.status-box-editor:hover {
		border: 1px solid #999;
	}

	.status-box-editor.focus {
		outline: 0;
		color: #333;
		border-color: #56b4ef;
	}

#status-box-tools {
	line-height: 1.5;
	padding: 5px 0 0 5px;
}

#status-box-picture {
	float: left;
	display: block;
	width: 28px;
	height: 28px;
	position: relative;
	overflow: hidden;
}

	#status-box-picture span {
		background: url(../images/sprite_icons-contentfe.png) 0 -150px no-repeat;
		height: 14px;
		width: 17px;
		top: 7px;
		left: 5px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		position: relative;
	}

	#status-box-picture:hover {
		/*background-color: #1da1e0;*/
	}

		#status-box-picture:hover span {
			background-position: 0 -180px;
		}

.status-box-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0.0;
	filter: alpha(opacity=0);
	-o-transform: translate(250px, -50px) scale(1);
	-moz-transform: translate(-300px, 0) scale(4);
	direction: ltr;
	cursor: pointer;
}


.status-box-submit {
	outline: none;
	height: 28px;
	padding: 0 10px;
	float: right;
	color: #fff;
	background-color: #1da1e0;
	border: 0;
}

	.status-box-submit:hover {
		background-color: #33ccff;
	}

#content_right_wrap {
	padding-left: 330px;
	margin-top: 50px;
}

	#content_right_wrap h2.title {
		line-height: 48px;
		background: #1f9fdd;
		color: #fff;
		height: 48px;
		font-size: 16px;
		font-weight: bold;
		padding: 0 10px;
	}


div.status {
	padding: 10px 10px 10px 70px;
	position: relative;
	background: #fafafa;
	border-bottom: 1px solid #dedfe2;
	min-height: 80px;
	_height: 80px;
}

	div.status p {
		margin: 0 0 5px 0;
		line-height: 1.5;
		padding: 0;
	}

		div.status p span.name {
			color: #369;
		}

		div.status p.status-cotent {
			color: #333;
		}

	div.status .face {
		position: absolute;
		left: 10px;
		top: 10px;
		border: 1px solid #dedfe2;
		padding: 1px;
	}

	div.status div.repost {
		border: solid 1px #ACD;
		background: #F0FAFF;
		padding: 10px;
	}

div.repost p.repost-cotent {
	color: #666 !important;
}
